body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(../img/comunicate-fondo.jpg);
    background-position: center;
    background-size: cover;
}

.lc-section-comunicate {
    background-color: rgba(5, 5, 54, 0.826);
    color: rgb(255, 250, 250);
}

.lc-comunicate-h1 {
    color: black;
}

input, textarea{
    background: #5a1b9592;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

input:focus, textarea:focus {
    background-color: #5a1b95;
}

.btn-enviar{
    position: relative;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    font-weight: bolder;
    overflow: hidden;
}

.btn-enviar::before{
    content: '';
    position: absolute;
    bottom: 0%;
    left: -50px;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 194, 80);
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 0.7s;
}

.btn-enviar:hover::before{
    letter-spacing: 3px;
    transform: scaleX(2) skewX(35deg);
}
.texto-en-boton{
    background-color: rgba(240, 248, 255, 0);
    z-index: 1;
}

.lc-comunicate-imagen {
    background-image: url("../img/comunicate.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    display: grid;
    place-content: center;
    transition: 0.5s;
    overflow: hidden;
}

.lc-comunicate-imagen h1:hover {
    transition: 0.35s;
    scale: 1.2;
    user-select: none;
}

.lc-i {
    font-size: 35px;
    transition: 0.3s;
    padding-right:10px;
}

.lc-i:hover {
    transform: rotate(25deg);
    cursor: pointer;
    scale: 1.4;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lc-mapita{
    width: 90vw;
    height: 45vh;
}
@media (max-width: 850px){
.lc-mapita{
    width: 70vw;
    height: 35vh;
}
}

@media (max-width: 570px){
.lc-mapita{
    width: 90vw;
    height: 35vh;
}
}


textarea:focus, input:focus {
    box-shadow: 0px 0px 5px 6px rgb(9, 174, 216);
}