footer {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    z-index: 22;
}

.colorfoojose{
    background-color: #550065 !important;
    color: aliceblue !important;
}

.card {
    border: 1px solid #550065;
    border-radius: 0px;
}