.ir-arriba{
    position: fixed;
    background-color: rgba(44, 44, 44, 0.736);
    margin: auto;
    display: flex;
    bottom: 1%;
    right: 1%;
    margin-bottom: 16px;
    padding: 1px 5px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
  }
  .ir-arriba:hover {
    background: white;
    color: rgb(27, 27, 27) !important;
    border-radius: 1px solid black;
  }
  
  @media (max-width: 550px) {
    .ir-arriba {
        scale: 1.2;
    }
    .letra-boton {
        display: none;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: white;
  }

  .flecha-arriba {
    color: white;
  }
  .flecha-arriba:hover{
    color: black;
  }