.lc-foto-nosotros-container {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    min-height: 100vh;
    height: 100%;
    background-image: url("../img/about-us-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
section {
    min-height: 80vh;
}
.card{
    background-color: #1a1a1a90;
    backdrop-filter: blur(12px);
    
}
.card:hover {
    background-color: #141414cd;
    backdrop-filter: blur(20px);
}


.lc-nosotros h2 {
    padding: 10px 0px;
    background-color: #4d4c4ccf;
    letter-spacing: 8px;
    color: white;
    font-size: 2rem;
}
.lc-nosotros-div{
    display: flex;
    max-width: 75%;
    flex-direction: column;
    align-items: center;
}
.lc-nosotros-2cartas {
    display: flex;
    flex-wrap: wrap;
}

.lc-nosotros-blog {
    padding: 10px 0px;
    background-color: #4d4c4ccf;
    color: white;
    text-align: justify;
}

.lc-foto-nosotros {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}
.probando:hover,
.lc-foto-nosotros:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.lc-quienes-card:hover {
    box-shadow: 0px 0px 8px 3px black;
    border-radius: 10px;
}
.lc-foto-nosotros-container {
    overflow: hidden;
}



.probando{
    position: relative;

}

.probando-nombre{
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
}

.card-i {
    border-radius: 50px !important;
}
.lc-foto-integrantes{
    border-radius: 50%;
    transition: 0.4s;
}


.lc-contenedor-cada-foto{
    position: relative;
}
.lc-nombre-en-foto {
    position: absolute;
    bottom: -30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    justify-self: center;
    margin: auto;
    width: 75%;
    left: 15%;
    text-align: center;
    color: white;
}

.lc-descripcion-integrantes{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    line-height: 32px;
    overflow: hidden;
}
.lc-descripcion-integrantes:hover{
    transition: 0.35s;
    transform: rotate(1turn);
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    cursor: pointer;
}

@media (min-width: 1600px) {
.lc-nosotros-en-fotos{
    width: 100vw;
    scale: 0.8;
}
}
